/* header------------------------------------------------------ */
*{
    padding: 0;
    margin: 0;
}

.h1{
    
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-image: url("v3\ drums.jpg");
    color: white;
    background-size: 100% 100%;
}
.d1{
    width: 120px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 1000;
    margin-top: 12px;
}
.d2 ul{
    display: flex;
    margin-top: 15px;
}
.u1{
    list-style: none;
}
.u1 li{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
}
.d3 ul{
    margin-top: 15px;
    display: flex;
}
.u2{
    list-style: none;
    margin-right: 5px;
}
.u2 li{
    font-weight: 700;
    font-size: 20px;
    padding-right: 10px;
}