
.d1{
    height: auto;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.p1{
    margin-left: 5px;

}
.d2{
    margin-right: 5px;
    display: none;
}
.u1{
    list-style: none;
    display: flex;
}
.u1 li{
    padding-left: 5px;
}
.u1 li:hover{
    color: red;
    cursor: pointer;
}

.d3{
    display: flex;
    justify-content: space-between;
}
.p2{
    margin-right: 5px;
    color: black;
}
.sp1{
    margin-left: 5px;
    font-weight: 800;
}
.sp2{
    padding-right: 3px;
}
.sp2 i:hover{
    color: blue;
}
.sp3 i:hover{
    color: blue;
}
.h2{
    display: none;
}
.u2{
    display: flex;
    margin-right: 5px;
    margin-top: 5px;
}
.u2 li{
    list-style: none;
    padding-right: 5px;
    font-weight: 100;
    font-size: 25px;
}
.u2 li:hover{
    color: red;
    cursor: pointer;
}
.d5{
    background-color: gray;
    color: white;
    display: none;
}
.d5 ul{
    margin-left: 5px;
    display: flex;
}
.d5 ul li{
    list-style: none;
    font-size: 20px;
    padding-left: 25px;
}
.d5 ul li:hover{
    cursor: pointer;
    color: red;
}




/* animation----------------------------------------------------------------------- */

.d6{
    height: 300px;
    border: 0.1px solid transparent;
    margin: -16px 0px;
    animation-name: a1;
    animation-iteration-count: infinite;
     animation-play-state: running;
     animation-duration: 15s;
}

@keyframes a1{
    0%{
        background-image: url(f1.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
    25%{
        background-image: url(p1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    50%{
        background-image: url(v1.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    100%{
        background-image: url(f1.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.d6p{
    width: fit-content;
     margin-left: 6%;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.d7{
    width: 90px;
    border: 2px solid black;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 6%;
    margin-left: 6%;
}
.d7:hover{
    background-color: black;
}

.d8{
    margin-left: 6%;
    width: 120px;
    border: 2px solid black;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: purple;
    margin-top: 5%;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 15px;
}
.d8:hover{
    cursor: pointer;
    background-color: black;
}
/* 2pics---------------------------------------------------------------------------- */
.d9{
    height: auto;
    width: 90%;
    display: flex;flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 5%;

}
.d10{
    height: 300px;
    width: 100%;
    background-image: url("g1.jpg");
    background-size: 100% 100%;
}
.d11{
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 20px;
  
    background-image: url("t1.jpg");
}
.d10 p{
    color: white;
    width: max-content;
    font-size: 20px;
    padding-left: 30px;
}
.d11 p{
    color: white;
    width: max-content;
    font-size: 20px;
    padding-left: 30px;
}

.d12{
    width: 160px;
    height: 50px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    border: 2px solid black;
    color: white;
    }

.d12:hover{
    background-color: black;
    cursor: pointer;
}

/* 4icons------------------------------------------------------------------------------- */

.d13{
    height: auto;
    width: 90%;
    display: flex;flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 5%;
}
.d13 div{
    height: 200px;
    width: 100%;
}
.p3{
    height: 80px;
    font-size: 80px;
    text-align: center;
}
.p4{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
}
.p5{
    
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: -25px;
}


/* zoomin hover----------------------------------------------------------------- */
    .d14{
        width: 90%;
        margin: auto;
    }
    .p6{
        height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 20px;
    }
    .d16{
        height: 220px;
        width: 100%;
    }
    .i1{
        transition: transform 2s;
    height: 180px;
    width: 100%;
    border-radius: 100%;
    }
       
    .p6{
        font-weight: 800;
        font-size: 20px;
        text-align: center;
    }
    .d18{
        border-radius: 100%;
        height: 150px;
        margin-left: 10%;
        margin-top: 10px;
        width: 80%;
        overflow: hidden;
    }
    .d18:hover img{
        transform: scale(1.3);
    }


/* footer------------------------------------------------------------------------------ */

.f1{
    height: auto;
    background-color: rgb(204, 188, 188);
    margin-bottom: -15px;
}

.d19{
    height: 200px;
 
}
.d19 p{
    text-align: center;
    font-size: 20px;
    margin-top: -18px;
}
.d19 p:hover{
    cursor: pointer;
    color: red;
}
.hr{
   width: 90%;
   border: 0.5px solid black;
   margin-top: 15px;
   margin-left: 5%;
   background-color: black; 
}

.d20 li{
    list-style: none;
    font-size: 30px;
}
.d20 ul{
    display: flex;
    justify-content: space-evenly;
}



/* media query----------------------------------------------------------------------- */

/* header---------------------------------------------------------------------------- */


@media (min-width:800px){
    .d2{
        display: block;
    }
    .h1{
        display: none;
    }
    .h2{
        display: block;
    }
    .d5{
        display: block;
    }
    .d9{
        display: flex;
        justify-content: space-between;
    }
    .d10{
        width: 48%;
        height: 400px;
    }
    .d11{
        height: 400px;
        margin-top: 0px;
        width: 48%;
    }
    .d13{
        display: flex;
    }
    .d13 div{
        width: 25%;
    }
    .d21{
        display: flex;

    }
    .d19{
        width: 25%;
        height: 250px;
    }
    .d20{
        display: flex;
    }
    .d20 ul{
        width: 50%;
    }
    .d6{
        height: 550px;
    }
}

@media(min-width:550px){
    .d15{
        display: flex;
    }
    .d17{
        display: flex;
    }
    .d16{
        width: 25%;
    }
}